<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 second" debug="false">
    <property name="logDir" value="logs" />
    <property name="appender" value="LOGSTASH" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%level]%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{106}.%method:%L %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logDir}/common-web.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%level]%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{106}.%method:%L %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- 每天一归档 -->
			<fileNamePattern>${logDir}/common-web-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- 单个日志文件最多 100MB, 60天的日志周期，最大不能超过20GB -->
			<maxFileSize>1000MB</maxFileSize>
			<maxHistory>1</maxHistory>
			<totalSizeCap>200GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<appender name="LOGSTASH"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>192.168.43.156:9600</destination>
		<!-- encoder必须配置,有多种可选 -->
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
		</encoder>
	</appender>
  <root level="TRACE">             
    <appender-ref ref="${appender}"/>
  </root>  
</configuration>