<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csair.order.dao.OrderInfoDAO">
	<resultMap type="com.csair.order.dto.OrderBasicInfo" id="orderInfo">
		<id column="orderid" property="orderNo" />
		<result column="goodsType" property="goodsType" />
		<result column="consignor" property="consignor" />
		<result column="ORDERAMOUNT" property="payAmount" />
		<collection property="awbInfos" column="orderid" resultMap="awbInfo" />
		<collection property="flightInfos" column="orderid"
			resultMap="flightInfo" />
	</resultMap>
	<resultMap type="com.csair.order.dto.OrderDetailInfo" id="orderDetail">
		<id column="orderid" property="orderNo" />
		<result column="billNo" property="billNo" />
		<association property="cargoInfo" resultMap="cargoInfo"/>
		<association property="changeOrderInfo" resultMap="changeOrderInfo"/>
		<collection  property="awbInfos" column="orderid" resultMap="awbInfo" />
		<collection  property="flightInfos" column="orderid" resultMap="flightInfo" />
	</resultMap>
	
	<resultMap type="com.csair.order.domain.AwbInfo" id="awbInfo">
		<result column="awbprefix" property="awboPrefix" />
		<result column="awbno" property="awbNo" />
		<result column="awbpostfix" property="awbPostfix" />
	</resultMap>
	<resultMap type="com.csair.order.domain.FlightInfo" id="flightInfo">
		<result column="flightNo" property="flightNo" />
		<result column="flightDate" property="flightDate" />
		<result column="dep" property="dep" />
		<result column="des" property="des" />
		<result column="depTime" property="depTime" />
		<result column="desTime" property="desTime" />
	</resultMap>

	<resultMap type="com.csair.order.domain.CargoInfo" id="cargoInfo">
		<result column="goodsType" property="goodsType" />
		<result column="piece" property="piece" />
		<result column="weight" property="weight" />
	</resultMap>

	<resultMap type="com.csair.order.domain.ChangeOrderInfo" id="changeOrderInfo">
		<result column="changeOrderNo" property="changeOrderNo" />
		<collection property="changeContent" column="orderid"
			resultMap="keyPair" />
		<collection property="changeExpenses" column="orderid"
			resultMap="keyPair1" />
	</resultMap>

	<resultMap type="com.csair.common.base.KeyPair" id="keyPair">
		<result column="changeName" property="keyName" />
		<result column="changevalue" property="value" />
	</resultMap>

	<resultMap type="com.csair.common.base.KeyPair" id="keyPair1">
		<result column="changeName1" property="keyName" />
		<result column="changevalue1" property="value" />
	</resultMap>

	<select id="getOrderBasicInfo" resultMap="orderInfo">
		SELECT T1.ORDERID,
		T1.GOODSTYPE,
		T1.CONSIGNOR,
		T1.ORDERAMOUNT,
		T2.AWBPREFIX,
		T2.AWBNO,
		T2.AWBPOSTFIX,
		T3.FLIGHTNO,
		T3.DEP,
		T3.DES,
		T3.DEPTIME,
		T3.DESTIME,
		T3.FLIGHTDATE
		FROM T_ORDER_ORDERINFO T1
		LEFT JOIN T_ORDER_AWBINFO T2 ON
		T2.ORDERID=T1.ORDERID
		INNER JOIN T_ORDER_FILGHTINFO T3 ON
		T3.ORDERID=T1.ORDERID
	</select>
	
	<select id="getOrderDetailInfo" resultMap="orderDetail">
		SELECT T1.ORDERID,
		       T1.GOODSTYPE, 
		       T1.CONSIGNOR, 
		       T1.ORDERAMOUNT, 
		       T1.BILLNO, 
		       T2.AWBPREFIX, 
		       T2.AWBNO, 
		       T2.AWBPOSTFIX,
		       T3.FLIGHTNO, 
		       T3.DEP, 
		       T3.DES, 
		       T3.DEPTIME, 
		       T3.DESTIME,
		       T3.FLIGHTDATE,
		       T4.GOODSTYPE, 
		       T4.PIECE, 
		       T4.WEIGHT,
		       T5.CHANGENAME, 
		       T5.CHANGEVALUE,
		       T6.CHANGENAME AS CHANGENAME1, 
		       T6.CHANGEVALUE AS CHANGEVALUE1
		FROM T_ORDER_ORDERINFO T1
		LEFT JOIN T_ORDER_AWBINFO T2 ON T2.ORDERID=T1.ORDERID
		LEFT JOIN T_ORDER_FILGHTINFO T3 ON T3.ORDERID=T1.ORDERID
		LEFT JOIN T_ORDER_CARGOINFO T4 ON T4.ORDERID =T1.ORDERID
		LEFT JOIN T_ORDER_CHANGEORDERINFO T5 ON T5.ORDERID =T1.ORDERID AND
		T5.CHANGETYPE='1'
		LEFT JOIN T_ORDER_CHANGEORDERINFO T6 ON T6.ORDERID =T1.ORDERID AND
		T6.CHANGETYPE='2'
		WHERE 1=1
		<if test="orderNo!=null and ''!=orderNo!=null">
		  T1.ORDERID=#{orderNo}
		</if>
		<if test="awbprefix!=null and ''!=awbprefix!=null">
		  AND T2.AWBPREFIX=#{awbprefix}
		</if>
		<if test="awbno!=null and ''!=awbno!=null">
		  AND T2.AWBNO=#{awbno}
		</if>
	</select>
	
</mapper>